@import "../../../styles/variables.scss";

.input-wrapper{
    color: $text-color;
    font-size: 16px;
    text-align: start;
    label{
        margin-bottom: 10px;
    }
.input-content{
    width: 100%;
    border-radius: 8px ;
    display: flex;
    
    }
    input{
        border: none;
        border-radius: 8px ;
        background-color: $blue-secondary-bg;
        padding: 12px 0 12px 20px;
        width: 100%;
    }
}
    

    
    
