<h2 mat-dialog-title>Cadastre uma nova dívida </h2>
<mat-dialog-content>
  <form [formGroup]="formPayment">

  
  <p>Descricption:</p>
  <mat-form-field>
    <mat-label>Description:</mat-label>
    <input matInput formControlName="description" >
  </mat-form-field>

  <p>Status:</p>
  <mat-form-field>
    <mat-label>toPaid or paid:</mat-label>
    <input matInput formControlName="status">
  </mat-form-field>

  <p>Price:</p>
  <mat-form-field>
    <mat-label>Price:</mat-label>
    <input matInput  formControlName="price">
  </mat-form-field>

  <p>Date:</p>
  <mat-form-field>
    <mat-label>Escolha uma data:</mat-label>
    <input matInput [matDatepicker]="calendario" formControlName="date">
    <mat-datepicker-toggle matIconSuffix [for]="calendario"></mat-datepicker-toggle>
    <mat-datepicker #calendario></mat-datepicker>
  </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)=" onNoClick( )">No Thanks</button>
  <button mat-button cdkFocusInitial (click)="save()">Ok</button>
</mat-dialog-actions>
