<app-default-login-layout
    title=" Faça seu cadastro e gerencie suas finanças"
    primaryBtnText="Cadastrar agora"
    secondaryBtnText="Entrar"
    (submit) = "submit()"
    (navigate) = "navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
> 
<form [formGroup]="signupForm">
    <app-primary-input

        formControlName = "name"
        inputName = "name"
        type = "text"
        label = "Seu nome: "
        placeholder = "Jonh Doe"
    > 

    </app-primary-input>
    <app-primary-input

        formControlName = "email"
        inputName = "email"
        type = "email"
        label = "Email: "
        placeholder = "email@email.com"
    > 
    </app-primary-input>
    
       <app-primary-input

        formControlName = "password"
        inputName = "password"
        type = "password"
        label = "Insira sua senha: "
    > 
       </app-primary-input>
       <app-primary-input

        formControlName = "passwordConfirm"
        inputName = "passwordConfirm"
        type = "password"
        label = "Confirme sua senha: "
    > 
       </app-primary-input>
</form>
</app-default-login-layout>