<div class=" filter-container">
  <h2>Filtrar por Status de pagamento:</h2>
  <mat-form-field appearence = "fill">
    <mat-label></mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilter()">
      <mat-option *ngFor="let status of paymentStatusOptions" [value]="status">
        {{ statusTraduzido [status] || status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="total-container">
  <h2>Total: {{ calculateTotal() | currency: 'USD' : 'symbol': '1.2-2' }}</h2>
</div>

<div class="total-container" *ngIf="selectedStatus !== 'All'">
  <h2>Total ({{ statusTraduzido[selectedStatus] }}): {{ totalFiltered |currency: 'USD' : 'symbol': '1.2-2' }}</h2>
</div>

<div class="demo-button-container">
  <button mat-raised-button (click)= "addNewDebt()" class="demo-button">
    Nova Dívida
  </button>
</div>

<table mat-table [dataSource]="payments" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <th mat-header-cell class="cell-header" *matHeaderCellDef>  Descrição</th>
    <td mat-cell [ngClass]="{'paid-row': element.status === 'paid', 'to-pay-row': element.status === 'toPay'}" *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell class="cell-header" *matHeaderCellDef> Valor </th>
    <td mat-cell [ngClass]="{'paid-row': element.status === 'paid', 'to-pay-row': element.status === 'toPay'}" *matCellDef="let element"> {{element.price | currency: 'BRL' : 'symbol': '1.2-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell class="cell-header" *matHeaderCellDef> Data </th>
    <td mat-cell [ngClass]="{'paid-row': element.status === 'paid', 'to-pay-row': element.status === 'toPay'}" *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell class="cell-header" *matHeaderCellDef> Ação </th>
    <td mat-cell [ngClass]="{'paid-row': element.status === 'paid', 'to-pay-row': element.status === 'toPay'}" *matCellDef="let element">
      <button mat-icon-button (click)="editPayment(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="deletePayment(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
