<table>
    <thead>
      <tr>
        <th >Status</th>
        <th >Description</th>
        <th >Price</th>
        <th >Date</th>
        <th> Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments" [ngClass]="{'paid-row': payment.status === 'paid', 'to-pay-row': payment.status === 'toPay'}">
        <td>{{ payment.status }}</td>
        <td>{{ payment.description }}</td>
        <td>{{ payment.price }}</td>
        <td>{{ payment.date }}</td>
        <td><button>delete</button>
        <button>edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  