@import "../../../styles/variables.scss";

table {
  color: black !important;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

th {
  padding: 12px;
  border: 1px;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}

.paid {
  color: green;
}

.to-pay {
  color: red;
}

.paid-row {
  background-color: #c8e6c9;
}

.to-pay-row {
  background-color: #ffcdd2;
}

.header-table {
  background-color: $blue-bg;
  color: $text-color;
}

.cell-header {
  text-align: center;
}

